html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: rgba(214, 214, 214, 0.56);
    font-family: 'Roboto', sans-serif;
    color: black;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
    text-decoration: none;
}


/* Nav styles */

.main-nav {
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.small-nav {
    display: none;
}

.main-nav li {
    margin: 1em;
}

.main-nav-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.main-nav-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.main-nav-heading {
    font-weight: 900;
    font-size: 3em;
    margin: 0 auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.main-nav-options {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.main-nav-options:after {
    background-color: black;
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.main-nav-options:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* Home styles */

.home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.headline {
    font-family: 'RobotoSlab', serif;
    font-size: 3vh;
    font-weight: 400;
    margin: .5vh 20vw;
    max-width: 15em;
}

.home-svg {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
}


/* Skills styles */

.skills {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.skills-heading {
    font-weight: 400;
    font-size: 3vh;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 5em;
}

.skills h3 {
    font-size: 2vh;
    font-weight: 400;
}
.squiggle {
    fill: none;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke: black;
}
.other-skills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'RobotoSlab', serif;
    font-size: 2vh;
    font-weight: 400;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.other-skills p {
    margin: .3em;
    background-color: #e5e5e5;
    padding: .1em .5em;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: .0 .1em 0 .1em;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.20);
}

.skills-svg {
    position: fixed;
    width: 100%;
    top: 100%;
    z-index: -1
}

.skills-list {
    width: 100%;
    height: 100%;
}

.skills-list-landscape {
    display: none;
}

.skills-reg {
    margin-bottom: 1em;
}

.skills-small {
    display: none;
}

.squiggle {
}

.squiggle-triangles {
    opacity: 0;
}


/* Contact styles */

.contact {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact-svg {
    position: absolute;
    width: 100%;
    bottom: 30%;
    z-index: -1;
}

.button {
    font-weight: 600;
    font-size: 2em;
    border: 3px solid black;
    box-shadow: 1px 1px 0 0 black;
    min-width: 15rem;
    padding: .5em 2em;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-box-flex: 100%;
    -webkit-flex-grow: 100%;
    -ms-flex-positive: 100%;
    flex-grow: 100%;
    margin-top: 50%;
}

.button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fffbe0;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transition: width 0.25s ease;
    transition: width 0.25s ease;
    z-index: -1;
}

.button:hover:after {
    width: 100%;
}

.icons i {
    padding: 1em;
    -webkit-box-flex: 100%;
    -webkit-flex-grow: 100%;
    -ms-flex-positive: 100%;
    flex-grow: 100%;
    margin-top: 90%;
}

#twitter-icon {
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

#linkedin-icon {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#instagram-icon {
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

#twitter-icon:hover {
    color: #ffb400;
}

#linkedin-icon:hover {
    color: #fffbe0;
    text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

#instagram-icon:hover {
    color: #2994b2;
}


/* Media */

@media (max-width: 900px) {
    /* Navigation */
    .main-nav {
        display: none;
    }
    .small-nav {
        position: absolute;
        z-index: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        width: 100%;
    }
    .small-nav ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
    }
    .small-nav-options {
        display: none;
        font-size: 30px;
        font-weight: 500;
        text-decoration: none;
        margin: .5em;
        position: relative;
    }
    .small-nav-options:after {
        background-color: black;
        content: "";
        height: 3px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .small-nav-options:hover:after {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .small-nav-heading {
        font-weight: 900;
        font-size: 40px;
        border: 3px solid black;
        padding: .0 .1em 0 .1em;
        box-shadow: 1px 1px 0 0 black;
    }
    .other-skills {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: 'RobotoSlab', serif;
        font-size: 2vh;
        font-weight: 400;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .skills-list {
        width: 80%;
        height: 80%;
        padding: 1em;
    }
    .skills-reg {
        display: none;
    }
    .skills h3 {
        margin: .3em;
    }
    .skills-small {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
    }
    .contact-svg {
        position: absolute;
        width: 100%;
        bottom: 30%;
        z-index: -1;
    }
    .button {
        font-weight: 600;
        font-size: 2em;
        border: 3px solid black;
        box-shadow: 1px 1px 0 0 black;
        min-width: 1em;
        padding: .5em 2em;
        text-align: center;
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-top: 50%;
    }
    .button:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #fffbe0;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transition: width 0.25s ease;
        transition: width 0.25s ease;
        z-index: -1;
    }
    .button:hover:after {
        width: 100%;
    }
    .icons i {
        font-size: 2em;
        padding: 1.5em;
        margin-bottom: 50%;
    }
}

@media (orientation: landscape) and (max-width: 1200px) {
    .main-nav {
        display: none;
    }
    .small-nav {
        position: absolute;
        z-index: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        width: 100%;
    }
    .small-nav ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
    }
    .small-nav-options {
        display: none;
        font-size: 30px;
        font-weight: 500;
        text-decoration: none;
        margin: .5em;
        position: relative;
    }
    .small-nav-options:after {
        background-color: black;
        content: "";
        height: 3px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .small-nav-options:hover:after {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .small-nav-heading {
        font-weight: 900;
        font-size: 40px;
        border: 3px solid black;
        padding: .0 .1em 0 .1em;
        box-shadow: 1px 1px 0 0 black;
    }
    .other-skills {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: 'RobotoSlab', serif;
        font-size: 2vh;
        font-weight: 400;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .skills-list-landscape {
        width: 100%;
        height: 100%;
        padding: 1em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .skills-list {
        display: none;
    }
    .skills-reg {
        display: none;
    }
    .skills h3 {
        margin: .3em;
    }
    .skills-small {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
    }
    .contact-svg {
        position: absolute;
        width: 100%;
        bottom: 30%;
        z-index: -1;
    }
    .button {
        font-weight: 600;
        font-size: 2em;
        border: 3px solid black;
        box-shadow: 1px 1px 0 0 black;
        min-width: 1em;
        padding: .5em 2em;
        text-align: center;
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-top: 50%;
    }
    .button:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #fffbe0;
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transition: width 0.25s ease;
        transition: width 0.25s ease;
        z-index: -1;
    }
    .button:hover:after {
        width: 100%;
    }
    .icons i {
        font-size: 2em;
        padding: 1em;
        margin-bottom: 50%;
    }
}


}